<style>
    .lesson_button {
        color: white;
        background-color: #71BC78;
        /*color:#ddf8df;*/
        border: none;
        border-radius: 5px;
        padding: 10px;
    }
</style>

<html>
    <body>
        <div>
            <table>
                <tr>
                    <td><a href="{{site.baseurl}}/sprints/sprint2/sprint2_homepage/index"><button
                        class="lesson_button">Big Ideas 3 Home</button></a></td>
                    <td><a href="{{site.baseurl}}/sprint_2/lesson_homework/2024-10-07-3-1-hacks_IPYNB_2_"><button
                        class="lesson_button">3.1</button></a></td>
                    <td><a href="{{site.baseurl}}/sprint_1/2024-09-24-big-ideas-32-lists-tuples-sets_IPYNB_2_"><button
                        class="lesson_button">3.2</button></a></td>
                    <td><a href="{{site.baseurl}}/sprint_2/lesson_homework/2024-10-11-33-35-hacks_IPYNB_2_"><button
                        class="lesson_button">3.3</button></a></td>
                    <td><a href="{{site.baseurl}}/sprint_2/lesson_homework/2024-10-07-3-4-hacks_IPYNB_2_"><button
                        class="lesson_button">3.4</button></a></td>
                    <td><a href="{{site.baseurl}}/sprint_2/lesson_homework/2024-10-11-33-35-hacks_IPYNB_2_"><button
                        class="lesson_button">3.5</button></a></td>
                    <td><a href="{{site.baseurl}}/sprint_2/lesson_homework/2024-10-07-36-37-hacks_IPYNB_2_ "><button
                        class="lesson_button">3.6 & 3.7</button></a></td>
                    <td><a href="{{site.baseurl}}/sprint_2/lesson_homework/2024-10-10-3-8-hacks_IPYNB_2_"><button
                        class="lesson_button">3.8</button></a></td>
                    <td><a href="{{site.baseurl}}/sprint_2/lesson_homework/2024-10-10-3-10-hacks_IPYNB_2_"><button
                        class="lesson_button">3.10</button></a></td>
                </tr>
            </table>
        </div>
    </body>
</html>